doctype html
html
  head
    block title
      title HVDUC
    block description
      description HVDUC Markup boilerplate
    link(rel='stylesheet', href='./css/global.css')
  body
    block header
      include ../components/header.pug
    block content
    block footer
      include ../components/footer.pug
